.menu-espacamento {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

button:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
